<div class="mt-5">
    <%= form_with model: @todo_list, url: todo_lists_path, method: :post do |f| %>
        <%= f.text_field :name, placeholder: "Add a new todo list" %>
        <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
</div>